<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="my_setup.Properties.Settings.trucksModificationConnectionString"
            connectionString="Data Source=.;Initial Catalog=trucksModification;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>